<%= form_for room, html: {class: "ui form"} do |f| %>

  <div class="field">
    <%= f.text_field :name, placeholder: "create new room" %>
  </div>

  <div class="field">
    <%= f.submit "Create room", class: "ui button" %>
  </div>

<% end %>