<%= form_for room, html: {class: "ui form"} do |f| %>

  <div class="field">
    <div class="ui action input">
    <%= f.text_field :name, placeholder: "create new room" %>
    <%= f.submit "Create room", class: "ui button primary" %>
  </div>

<% end %>

