.active {
  display: ;
}

.inactive {
  display: none;
}

.page-content {
  padding-top: 80px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 490px) {
      .item.remove {
        display: none !important;
      }
}

.input {
  width: 100%;
}

#fixed-flash-enter {
  display: none;
  position: fixed;
  top: 42px;
  width: inherit;
  z-index: 99;
}

#fixed-flash-leave {
  position: fixed;
  top: 40px;
  width: inherit;
  z-index: 98;
  display: none;
}

#members-list {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  #members-list {
    position: fixed;
  }
}